DisableFormat: false
BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 125
NamespaceIndentation: All
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: false
AlignConsecutiveBitFields: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false
AlignTrailingComments: false
AlignEscapedNewlines: Left
AlignOperands: false
BitFieldColonSpacing: After
AllowShortEnumsOnASingleLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLambdasOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: false
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakTemplateDeclarations: true
BreakBeforeTernaryOperators: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2
AlignEscapedNewlinesLeft: Left
ContinuationIndentWidth: 2
LambdaBodyIndentation: Signature
PointerAlignment: Middle
BinPackParameters: false
BinPackArguments: false
IndentCaseLabels: true
MaxEmptyLinesToKeep: 1
BreakBeforeBraces: Attach
BreakBeforeConceptDeclarations: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
IndentPPDirectives: AfterHash
SortIncludes: false
SortUsingDeclarations: true

---
Language: JavaScript
DisableFormat: true
ColumnLimit: 120
JavaScriptQuotes: Single
