{
  "extends": ["@balsamic"],
  "root": true,
  "overrides": [
    {
      "files": "server/**/*",
      "rules": {
        "no-console": 0,
        "no-process-exit": 0,
        "global-require": 0,
        "node/no-unpublished-require": 0,
        "node/no-extraneous-import": 0,
        "node/no-extraneous-require": 0
      }
    }
  ]
}
