html,
body {
  user-select: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fda;
  background: #000;
  font-size: 5vh;
}

a,
b b,
p {
  font-size: 0.5em;
  color: #fda !important;
}

h2 {
  color: #f61;
  margin-top: 0;
  margin-bottom: 0.4em;
}

h1,
main,
#hC {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

h1 {
  top: 10%;
  color: #a30;
  text-align: center;
}

main {
  left: auto;
  min-width: 70%;
  justify-content: center;
  align-items: center;
}

main,
.l h1 {
  display: none;
}

.m main {
  display: flex;
}

main b:hover {
  text-decoration: underline;
}

nav {
  min-height: 70%;
  min-width: 50%;
  padding: 0.5em;
  background: #00000080;
}

nav b {
  display: block;
  margin-bottom: 0.5em;
  cursor: pointer;
}
