html,
body {
  user-select: none;
  font-family: serif;
  background: #000;
  font-size: 5vh;
  color: #fda;
  text-shadow: 5px 5px 2px #000;
}

a,
i,
p {
  font-size: 0.5em;
  color: #fda !important;
}

/* main menu items */
a,
li {
  margin-bottom: 0.5em;
  cursor: pointer;
  border-bottom: 3px solid #00000000;
  text-decoration: none;
}

h2,
a:hover,
li:hover {
  border-bottom: 3px solid;
}

h2 {
  color: #f61;
  margin-top: 0;
  margin-bottom: 0.4em;
}

h1,
main,
#hC,
h3 {
  position: absolute;
  left: 0;
  bottom: 0;
}

h1,
main,
#hC {
  top: 0;
  right: 0;
}

h3 {
  text-align: right;
  right: 5%;
}

/* loading screen */
h1 {
  text-align: center;
}

/* main menu */
main {
  left: auto;
  min-width: 70%;
  justify-content: center;
  align-items: center;
}

main,
h3,
.l h1 {
  display: none;
}

.l h3 {
  display: block;
}

/* main menu visible */
.m main {
  display: flex;
}

/* main menu inner */
nav {
  min-height: 70%;
  min-width: 50%;
  padding: 0.5em;
  background: #00000080;
}
